// colors
$blueDark: #03312e;
$gold: #edc476;
$yellow: #c3a14d;
$red: #ff0000;
$gray: #538282;
$lightGray: #9d9d9d;
$lightGray2: #959db6;
$grayBG: #f8f4ea;

// gradients
$darkGradient: linear-gradient(90deg, $blueDark 0%, #0a4444 100%);

// font-size
$fontSize1: 10px;
$fontSize2: 11px;
$fontSize3: 12px;
$fontSize4: 13px;
$fontSize5: 15px;
$fontSize6: 16px;
$fontSize7: 17px;
$fontSize8: 18px;
$fontSize9: 22px;
$fontSize10: 26px;
$fontsize11: 27px;

// font-weights
$regular: 400;
$medium: 500;
$bold: 700;

//font-family
$roboto: Roboto;
$lato: Lato;

// screen sizes
$screenSize1: 767px;
