.quantity-input {
	display: flex;
	align-items: center;
	font-family: $lato;
	align-items: center;
	gap: 10px;
	.name {
		font-size: $fontSize7;
		font-weight: $bold;
	}
	input {
		width: 34px;
		text-align: center;
		border: 0;
		background: $grayBG;
	}
	.button-holder {
		display: flex;
		align-items: center;
		border-radius: 100px;
		overflow: hidden;
		background-color: $gray;
		color: white;
	}
	button {
		cursor: pointer;
		border: 0;
		background-color: $gray;
		color: white;
		font-size: $fontSize7;
		font-weight: $bold;
		padding: 2px 6px;
	}
	.mobile-button {
		display: none;
		place-items: center;
		border-radius: 50%;
		width: 20px;
		padding: 0;
		aspect-ratio: 1;
	}
	@media (max-width: $screenSize1) {
		.button-holder {
			display: none;
		}
		.mobile-button {
			display: grid;
		}
	}
}
